<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@1.4.6/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="h-screen overflow-hidden flex items-center justify-center" style="background: #edf2f7;">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js"></script>

<style>@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css')</style>

<div class="min-w-screen min-h-screen bg-gray-900 flex items-center justify-center px-5 py-5">
    <div class="bg-gray-800 text-gray-500 rounded shadow-xl py-5 px-5 w-full sm:w-2/3 md:w-1/2 lg:w-1/3" x-data="{cardOpen:false,cardData:cardData()}" x-init="$watch('cardOpen', value => value?(cardData.countUp($refs.total,0,11602,null,0.8),cardData.sessions.forEach((el,i) => cardData.countUp($refs[`device${i}`],0,cardData.sessions[i].size,null,1.6))):null);setTimeout(()=>{cardOpen=true},100)">
        <div class="flex w-full">
            <h3 class="text-lg font-semibold leading-tight flex-1">TOTAL SESSIONS</h3>
            <div class="relative h-5 leading-none">
                <button class="text-xl text-gray-500 hover:text-gray-300 h-6 focus:outline-none" @click.prevent="cardOpen=!cardOpen">
                    <i class="mdi" :class="'mdi-chevron-'+(cardOpen?'up':'down')"></i>
                </button>
            </div>
        </div>
        <div class="relative overflow-hidden transition-all duration-500" x-ref="card" x-bind:style="`max-height:${cardOpen?$refs.card.scrollHeight:0}px; opacity:${cardOpen?1:0}`">
            <div>
                <div class="pb-4 lg:pb-6">
                    <h4 class="text-2xl lg:text-3xl text-white font-semibold leading-tight inline-block" x-ref="total">0</h4>
                </div>
                <div class="pb-4 lg:pb-6">
                    <div class="overflow-hidden rounded-full h-3 bg-gray-800 flex transition-all duration-500" :class="cardOpen?'w-full':'w-0'">
                        <template x-for="(item,index) in cardData.sessions">
                            <div class="h-full" :class="`bg-${item.color}`" :style="`width:${item.size}%`"></div>
                        </template>
                    </div>
                </div>
                <div class="flex -mx-4">
                    <template x-for="(item,index) in cardData.sessions">
                        <div class="w-1/3 px-4" :class="{'border-l border-gray-700':index!==0}">
                            <div class="text-sm">
                                <span class="inline-block w-2 h-2 rounded-full mr-1 align-middle" :class="`bg-${item.color}`">&nbsp;</span>
                                <span class="align-middle" x-text="item.label">&nbsp;</span>
                            </div>
                            <div class="font-medium text-lg text-white">
                                <span :x-ref="`device${index}`">0</span>%
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="absolute bottom-0 pb-2 text-gray-700 text-xs w-full text-center">
  See more: <a href="https://codepen.io/ScottWindon" class="underline hover:text-gray-500" target="_blank">https://codepen.io/ScottWindon</a>
</div>

<script>
let cardData = function() {
    return {
        countUp: function(target,startVal,endVal,decimals,duration){
            const countUp = new CountUp(target,startVal||0,endVal,decimals||0,duration||2);
            countUp.start();
        },
        sessions: [
            {
                "label": "Phone",
                "size": 60,
                "color": "indigo-600"
            },
            {
                "label": "Tablet",
                "size": 30,
                "color": "indigo-400"
            },
            {
                "label": "Desktop",
                "size": 10,
                "color": "indigo-200"
            }
        ]
    }
}
</script>
</body>
</html>
